@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #171e29 ;
    border-radius: 14px;
    border: 3px solid var(--primary);
    height: 10px;
  }